@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');

nav {
    margin-top: -200px;
}

.navbar-container {
    list-style-type: none;
    display: flex;
    color: white;
    flex-direction: row;
    margin-left: 0;
    padding: 0;
    font-family: poppins;
    line-height: 30px;
    text-align: left;
    font-size: 20px;
    font-weight: 400px;
    margin-bottom: 0px;
    margin-top: 0;
    text-decoration: none;
    white-space: nowrap;
    left: 60%;
}

.navbar-container li a {
    font-weight: 400px;
    word-spacing: 0px;
    text-align: right;
    padding: 1rem;
    color: white;

}

.navbar-title {
    list-style-type: none;
    display: flex;
    color: black;
    flex-direction: row;
    margin-left: 0;
    font-weight: 400px;
    font-family: Erica one;
    line-height: 30px;
    text-align: left;
    font-size: 64px;
    margin-bottom: 0px;
    margin-left: ;
    margin-right: 40px;
    margin-top: 0;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 1600px;
    margin-bottom: 0px;

}


.navbar-wrapper {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 0px;
    height: 200px;
    top: 10%;
    justify-content: space-between;




}

.speicalblackbutton {
    background-color: black;
    width: 192px;
    height: 48px;
    border-radius: 30px;
    padding: 2em;
}